:root {
  --main-text-color: #e2e2e2;
  --secondary-text-color: #6e6e6e;
  --error-text-color: #c56d6d;
  --main-text-size: 2rem;

  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: var(--main-text-size);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: black;
}

.weather-container {
  height: 100%;
}

.background {
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fjw-webmagazine.com%2Fwp-content%2Fuploads%2F2019%2F06%2Fjw-5d156e02c6bbc6.98561752.jpeg&f=1&nofb=1&ipt=9faae94590c3d46086f6fd78aca334091126a7289ccf0fc1c83097ed8a3b4054&ipo=images');
  background-size: cover;
}

.side-panel {
  height: 100%;
  width: 450px;
  margin-left: auto;
  padding: 1.5rem 2rem;
  padding-left: 0.5rem;

  background-color: rgba(0, 0, 0, 0.699);
  color: var(--main-text-color);

  box-shadow: -10px 0px 50px 50px rgb(0, 0, 0, 0.699);

  display: flex;
  flex-direction: column;

  transition: all 2s;
}

.location-header {
  display: flex;
  flex-direction: column;
}

.location-display {
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  align-self: flex-end;
}

.country-display {
  color: var(--secondary-text-color);
  font-size: 0.8rem;
  align-self: flex-end;
  margin-right: 0.4rem;
  margin-bottom: 1.5rem;
}

.weather-panel {
  position: relative;
  width: 100%;
}

.weather-panel-content {
  width: 100%;
  position: absolute;
  top: 0;
  display: grid;
  grid-template-rows: repeat(7, 1.5rem);
  gap: 1rem;
  opacity: 0;
}

.weather-panel-row {
  display: flex;
  align-items: center;
  gap: 0.4rem;

  background-color: #1d1d1dd5;
  padding: 1rem;
  border-radius: 50px;
}

.weather-panel-row-title {
  margin-right: auto;
  color: var(--main-text-color);
}

.unit-component {
  display: grid;
  grid-template-columns: min-content min-content;
}

.unit-component-normalized {
  /* To keep the info lined up nicely from row to row.
   * So there will be a column of darker text for
   * the units of measurement, and column of lighter
   * text with the actual information */
  grid-template-columns: min-content 40px;
}

.measurement-unit {
  color: var(--secondary-text-color);
  font-size: 0.8rem;
}

.condition-icon {
  width: 1.8rem;
}

.current-condition-icon {
  /* Offset icon so it appears in line with info on other rows */
  margin-right: 30px;
}

/* To contain the error display and search bar */
.search-container {
  position: fixed;
  top: 0;
  left: 0;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 0.5rem;
}

.error-display {
  color: var(--error-text-color);
  font-size: 0.9rem;
  opacity: 0;
}

.search-bar {
  display: flex;
  /* Add box shadow to both search input and button, make sure border-radius matches theirs */
  /* This really increases visibility against bright backgrounds */
  border-radius: 50px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.123);
}

.search-bar input,
.search-bar .search-button {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
  padding: 0.3rem 1rem;

  background-color: rgba(255, 255, 255, 0.123);
  border: 1px solid rgb(0, 0, 0, 0.123);
  /* border: none; */
}

.search-bar > input {
  /* border-right: none; */
  border-radius: 50px 0 0 50px;
  max-width: 300px;
  color: var(--secondary-text-color);
  font-style: italic;
}

.search-bar > input:focus {
  font-style: normal;
}

.search-bar .search-button {
  border-left: none;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
  display: grid;
  place-content: center;
  opacity: 0.8;
}

.search-bar .search-button:hover {
  opacity: 0.6;
}

.search-bar .search-button:active {
  opacity: 0.3;
}
