:root {
  --main-text-color: #e2e2e2;
  --secondary-text-color: #aaaaaa;
  --error-text-color: #c56d6d;
  --main-text-size: 32px;

  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: var(--main-text-size);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: black;
}

.weather-container {
  height: 100%;
}

.background {
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fjw-webmagazine.com%2Fwp-content%2Fuploads%2F2019%2F06%2Fjw-5d156e02c6bbc6.98561752.jpeg&f=1&nofb=1&ipt=9faae94590c3d46086f6fd78aca334091126a7289ccf0fc1c83097ed8a3b4054&ipo=images');
  background-size: cover;
}

.side-panel {
  height: 100%;
  width: min-content;
  margin-left: auto;
  padding: 2rem;

  background-color: rgba(0, 0, 0, 0.699);
  color: var(--main-text-color);

  box-shadow: -20px 0px 50px 50px rgb(0, 0, 0, 0.699);

  display: flex;
  flex-direction: column;

  transition: all 2s;
}

.location-header {
  display: flex;
  flex-direction: column;
}

.location-display {
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  align-self: flex-end;
}

.country-display {
  color: var(--secondary-text-color);
  font-size: 0.8rem;
  align-self: flex-end;
  margin-right: 0.4rem;
  margin-bottom: 1.5rem;
}

.weather-panel {
  position: relative;
  width: 100%;
}

.current-weather-panel {
  position: absolute;
  width: 100%;
}

.weather-forecast-panel {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}

.forecast-day {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.forecast-temperature {
  margin-left: auto;
}

.temperature-display {
  color: var(--secondary-text-color);
}

.condition-display {
  color: var(--secondary-text-color);
}

/* To contain the error display and search bar */
.search-container {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 0.5rem;
}

.error-display {
  color: var(--error-text-color);
  font-size: 0.9rem;
  opacity: 0;
}

.search-bar {
  display: flex;
}

.search-bar input,
.search-bar .search-button {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: var(--main-text-size);
  padding: 0.3rem 1rem;

  background-color: rgba(255, 255, 255, 0.123);
  border: none;

  color: var(--secondary-text-color);
}

.search-bar > input {
  border-radius: 50px 0 0 50px;
  max-width: 300px;
}

.search-bar .search-button {
  border-radius: 0 50px 50px 0;
  cursor: pointer;
  display: grid;
  place-content: center;
  opacity: 0.8;
}

.search-bar .search-button:hover {
  opacity: 0.6;
}

.search-bar .search-button:active {
  opacity: 0.3;
}
